ContoCointestato-ejb/src/conf/xml-resources/web-service-references/Entity3WebService/wsdl/localhost_8080/Entity3/Entity3WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.conto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.conto/" name="Entity3WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.conto/" schemaLocation="http://localhost:8080/Entity3/Entity3WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createEntry">
<part name="parameters" element="tns:createEntry"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="Entity3WebService">
<operation name="remove">
<input wsam:Action="http://ws.conto/Entity3WebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws.conto/Entity3WebService/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.conto/Entity3WebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws.conto/Entity3WebService/findRequest" message="tns:find"/>
<output wsam:Action="http://ws.conto/Entity3WebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws.conto/Entity3WebService/create" message="tns:create"/>
</operation>
<operation name="createEntry">
<input wsam:Action="http://ws.conto/Entity3WebService/createEntry" message="tns:createEntry"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.conto/Entity3WebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.conto/Entity3WebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws.conto/Entity3WebService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.conto/Entity3WebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.conto/Entity3WebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="Entity3WebServicePortBinding" type="tns:Entity3WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createEntry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Entity3WebService">
<port name="Entity3WebServicePort" binding="tns:Entity3WebServicePortBinding">
<soap:address location="http://localhost:8080/Entity3/Entity3WebService"/>
</port>
</service>
</definitions>